traductor-caval-out/src/main/resources/caval/CommonsBookingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Designer Edition 8.1.4.2482 (http://www.liquid-technologies.com)-->
<!-- 
Last update on: 10th February 2012

Previous updates:
18th October 2011
26th July 2011
22th May 2011
-->
<wsdl:definitions xmlns:tns="http://caval.travel/20091127/commons" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonsBookingService" targetNamespace="http://caval.travel/20091127/commons" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    elementFormDefault="unqualified" targetNamespace="http://caval.travel/20091127/commons"
                    version="1.0">
            <xs:element name="cancelBooking" type="tns:cancelBooking" />
            <xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse" />
            <xs:element name="getBooking" type="tns:getBooking" />
            <xs:element name="getBookingResponse" type="tns:getBookingResponse" />
            <xs:element name="getListOfBookings" type="tns:getListOfBookings" />
            <xs:element name="getListOfBookingsResponse" type="tns:getListOfBookingsResponse" />
            <xs:element name="getWholeSupportedMap" type="tns:getWholeSupportedMap" />
            <xs:element name="getWholeSupportedMapResponse" type="tns:getWholeSupportedMapResponse" />
            <xs:complexType name="cancelBooking">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rq" type="tns:cavalCancelBookingRQ" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalCancelBookingRQ">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractAuthenticatedAgencyRQ">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="locator" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="abstractAuthenticatedAgencyRQ" abstract="true">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractAuthenticatedRQ">
                        <xs:sequence>
                            <xs:element name="agentId" type="xs:string" />
                            <xs:element name="language" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="abstractAuthenticatedRQ" abstract="true">
                <xs:sequence>
                    <xs:element name="login" type="xs:string" />
                    <xs:element name="password" type="xs:string" />
                    <xs:element minOccurs="0" name="gzipResponse" type="xs:boolean" />
                    <xs:element minOccurs="0" name="rqId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cancelBookingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:cavalCancelBookingRS" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalCancelBookingRS">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractRS" />
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="abstractRS" abstract="true">
                <xs:sequence>
                    <xs:element name="resultCode" type="xs:int" />
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                    <xs:element minOccurs="0" name="cpuTime" type="xs:string" />
                    <xs:element minOccurs="0" name="dateAtServer" type="xs:string" />
                    <xs:element minOccurs="0" name="rqId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getBooking">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rq" type="tns:cavalGetBookingRQ" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetBookingRQ">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractAuthenticatedAgencyRQ">
                        <xs:sequence>
                            <xs:element name="locator" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="getBookingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:cavalGetBookingRS" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetBookingRS">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractRS">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="locator" type="xs:string" />
                            <xs:element minOccurs="0" name="yourReference" type="xs:string" />
                            <xs:element minOccurs="0" name="titular" type="xs:string" />
                            <xs:element minOccurs="0" name="formalizationDate" type="xs:string" />
                            <xs:element minOccurs="0" name="lastModificationDate" type="xs:string" />
                            <xs:element minOccurs="0" name="status" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="hotelServices" nillable="true" type="tns:hotelService" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="transferServices" nillable="true" type="tns:transferService" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="destinationActivityServices" nillable="true" type="tns:destinationActivityService" />
                            <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                            <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="cancellationCosts" nillable="true" type="tns:cancellationCost" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="saleDetail" nillable="true" type="tns:saleDetail" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="cancellationCost">
                <xs:sequence>
                    <xs:element minOccurs="0" name="from" type="xs:string" />
                    <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="amount">
                <xs:sequence>
                    <xs:element name="value" type="xs:double" />
                    <xs:element name="currencyCode" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="destinationActivityService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="destinationActivityId" type="xs:string" />
                    <xs:element minOccurs="0" name="destinationActivityName" type="xs:string" />
                    <xs:element minOccurs="0" name="destinationActivityDescription" type="xs:string" />
                    <xs:element minOccurs="0" name="destinationActivityDate" type="xs:string" />
                    <xs:element minOccurs="0" name="meetingPointId" type="xs:string" />
                    <xs:element minOccurs="0" name="meetingPointName" type="xs:string" />
                    <xs:element minOccurs="0" name="meetingPointDescription" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="supplements" nillable="true" type="tns:destinationActivitySupplement" />
                    <xs:element minOccurs="0" name="commentForDestinationActivity" type="xs:string" />
                    <xs:element minOccurs="0" name="commentForBookingDepartment" type="xs:string" />
                    <xs:element minOccurs="0" name="voucherText" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="destinationActivitySupplement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="hotelService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="establishmentId" type="xs:string" />
                    <xs:element minOccurs="0" name="establishmentName" type="xs:string" />
                    <xs:element minOccurs="0" name="cityId" type="xs:string" />
                    <xs:element minOccurs="0" name="cityName" type="xs:string" />
                    <xs:element minOccurs="0" name="stateId" type="xs:string" />
                    <xs:element minOccurs="0" name="stateName" type="xs:string" />
                    <xs:element minOccurs="0" name="countryCode" type="xs:string" />
                    <xs:element minOccurs="0" name="countryName" type="xs:string" />
                    <xs:element minOccurs="0" name="boardCode" type="xs:string" />
                    <xs:element minOccurs="0" name="boardName" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="roomOccupations" nillable="true" type="tns:roomOccupation" />
                    <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="remarks" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="commentForHotel" type="xs:string" />
                    <xs:element minOccurs="0" name="commentForBookingDepartment" type="xs:string" />
                    <xs:element minOccurs="0" name="voucherText" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="roomOccupation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="checkin" type="xs:string" />
                    <xs:element minOccurs="0" name="checkout" type="xs:string" />
                    <xs:element minOccurs="0" name="roomCode" type="xs:string" />
                    <xs:element minOccurs="0" name="roomName" type="xs:string" />
                    <xs:element name="adultsPerRoom" type="xs:int" />
                    <xs:element name="childrenPerRoom" type="xs:int" />
                    <xs:element name="infantsPerRoom" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="childrenAges" nillable="true" type="xs:int" />
                    <xs:element name="numberOfRooms" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="saleDetail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="base" type="tns:amount" />
                    <xs:element minOccurs="0" name="taxType" type="xs:string" />
                    <xs:element minOccurs="0" name="taxesPercent" type="xs:double" />
                    <xs:element minOccurs="0" name="taxes" type="tns:amount" />
                    <xs:element minOccurs="0" name="total" type="tns:amount" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transferService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="transferId" type="xs:string" />
                    <xs:element minOccurs="0" name="transferType" type="xs:string" />
                    <xs:element minOccurs="0" name="shortDescription" type="xs:string" />
                    <xs:element minOccurs="0" name="longDescription" type="xs:string" />
                    <xs:element minOccurs="0" name="transportArrivalInstructions" type="xs:string" />
                    <xs:element minOccurs="0" name="transportDepartureInstructions" type="xs:string" />
                    <xs:element minOccurs="0" name="duration" type="xs:string" />
                    <xs:element minOccurs="0" name="estimatedPickupTime" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="pickups" nillable="true" type="tns:pickup" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="dropoffs" nillable="true" type="tns:dropoff" />
                    <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="commentForTransfer" type="xs:string" />
                    <xs:element minOccurs="0" name="commentForBookingDepartment" type="xs:string" />
                    <xs:element minOccurs="0" name="voucherText" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="dropoff">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airportId" type="xs:string" />
                    <xs:element minOccurs="0" name="flightNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="flightDate" type="xs:string" />
                    <xs:element minOccurs="0" name="flightTime" type="xs:string" />
                    <xs:element minOccurs="0" name="flightOriginOrDestination" type="xs:string" />
                    <xs:element minOccurs="0" name="resortId" type="xs:string" />
                    <xs:element minOccurs="0" name="hotelId" type="xs:string" />
                    <xs:element minOccurs="0" name="hotelName" type="xs:string" />
                    <xs:element minOccurs="0" name="address" type="xs:string" />
                    <xs:element minOccurs="0" name="totalPax" type="xs:int" />
                    <xs:element minOccurs="0" name="totalChildren" type="xs:int" />
                    <xs:element minOccurs="0" name="totalInfants" type="xs:int" />
                    <xs:element minOccurs="0" name="totalWheelChairs" type="xs:int" />
                    <xs:element minOccurs="0" name="totalBigLuggages" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="passengers" nillable="true" type="tns:passenger" />
                    <xs:element minOccurs="0" name="comments" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="passenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="age" type="xs:int" />
                    <xs:element minOccurs="0" name="birthDate" type="xs:string" />
                    <xs:element minOccurs="0" name="comment" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pickup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airportId" type="xs:string" />
                    <xs:element minOccurs="0" name="flightNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="flightDate" type="xs:string" />
                    <xs:element minOccurs="0" name="flightTime" type="xs:string" />
                    <xs:element minOccurs="0" name="flightOriginOrDestination" type="xs:string" />
                    <xs:element minOccurs="0" name="resortId" type="xs:string" />
                    <xs:element minOccurs="0" name="hotelId" type="xs:string" />
                    <xs:element minOccurs="0" name="hotelName" type="xs:string" />
                    <xs:element minOccurs="0" name="address" type="xs:string" />
                    <xs:element minOccurs="0" name="totalPax" type="xs:int" />
                    <xs:element minOccurs="0" name="totalChildren" type="xs:int" />
                    <xs:element minOccurs="0" name="totalInfants" type="xs:int" />
                    <xs:element minOccurs="0" name="totalWheelChairs" type="xs:int" />
                    <xs:element minOccurs="0" name="totalBigLuggages" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="passengers" nillable="true" type="tns:passenger" />
                    <xs:element minOccurs="0" name="comments" type="xs:string" />
                    <xs:element minOccurs="0" name="mobile" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getWholeSupportedMap">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rq" type="tns:cavalGetWholeSupportedMapRQ" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetWholeSupportedMapRQ">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractAuthenticatedAgencyRQ">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="propietaryCodes" type="xs:boolean" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="getWholeSupportedMapResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:cavalGetWholeSupportedMapRS" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetWholeSupportedMapRS">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractRS">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="countries" nillable="true" type="tns:country" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="states" nillable="true" type="tns:state" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="state">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="cities" nillable="true" type="tns:city" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="airports" nillable="true" type="tns:airport" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="airport">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractProduct">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:string" />
                            <xs:element minOccurs="0" name="IATACode" type="xs:string" />
                            <xs:element minOccurs="0" name="name" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="abstractProduct" abstract="true">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="lastModificationDate" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="city">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="hotels" nillable="true" type="tns:hotel" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="hotel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getListOfBookings">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rq" type="tns:cavalGetListOfBookingsRQ" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetListOfBookingsRQ">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractAuthenticatedAgencyRQ">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="fromStartOfServicesDate" type="xs:string" />
                            <xs:element minOccurs="0" name="toStartOfServicesDate" type="xs:string" />
                            <xs:element minOccurs="0" name="fromFormalizationDate" type="xs:string" />
                            <xs:element minOccurs="0" name="toFormalizationDate" type="xs:string" />
                            <xs:element minOccurs="0" name="fromLastModificationDate" type="xs:string" />
                            <xs:element minOccurs="0" name="toLastModificationDate" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="getListOfBookingsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:cavalGetListOfBookingsRS" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cavalGetListOfBookingsRS">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:abstractRS">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="bookings" nillable="true" type="tns:booking" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="booking">
                <xs:sequence>
                    <xs:element minOccurs="0" name="locator" type="xs:string" />
                    <xs:element minOccurs="0" name="yourReference" type="xs:string" />
                    <xs:element minOccurs="0" name="titular" type="xs:string" />
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="formalizationDate" type="xs:string" />
                    <xs:element minOccurs="0" name="fromDate" type="xs:string" />
                    <xs:element minOccurs="0" name="toDate" type="xs:string" />
                    <xs:element minOccurs="0" name="netPrice" type="tns:amount" />
                    <xs:element minOccurs="0" name="grossPrice" type="tns:amount" />
                </xs:sequence>
            </xs:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="cancelBookingResponse">
        <wsdl:part name="parameters" element="tns:cancelBookingResponse" />
    </wsdl:message>
    <wsdl:message name="getWholeSupportedMap">
        <wsdl:part name="parameters" element="tns:getWholeSupportedMap" />
    </wsdl:message>
    <wsdl:message name="getBooking">
        <wsdl:part name="parameters" element="tns:getBooking" />
    </wsdl:message>
    <wsdl:message name="getListOfBookingsResponse">
        <wsdl:part name="parameters" element="tns:getListOfBookingsResponse" />
    </wsdl:message>
    <wsdl:message name="getBookingResponse">
        <wsdl:part name="parameters" element="tns:getBookingResponse" />
    </wsdl:message>
    <wsdl:message name="getListOfBookings">
        <wsdl:part name="parameters" element="tns:getListOfBookings" />
    </wsdl:message>
    <wsdl:message name="getWholeSupportedMapResponse">
        <wsdl:part name="parameters" element="tns:getWholeSupportedMapResponse" />
    </wsdl:message>
    <wsdl:message name="cancelBooking">
        <wsdl:part name="parameters" element="tns:cancelBooking" />
    </wsdl:message>
    <wsdl:portType name="CommonsBookingService">
        <wsdl:operation name="cancelBooking">
            <wsdl:input name="cancelBooking" message="tns:cancelBooking" />
            <wsdl:output name="cancelBookingResponse" message="tns:cancelBookingResponse" />
        </wsdl:operation>
        <wsdl:operation name="getBooking">
            <wsdl:input name="getBooking" message="tns:getBooking" />
            <wsdl:output name="getBookingResponse" message="tns:getBookingResponse" />
        </wsdl:operation>
        <wsdl:operation name="getWholeSupportedMap">
            <wsdl:input name="getWholeSupportedMap" message="tns:getWholeSupportedMap" />
            <wsdl:output name="getWholeSupportedMapResponse" message="tns:getWholeSupportedMapResponse" />
        </wsdl:operation>
        <wsdl:operation name="getListOfBookings">
            <wsdl:input name="getListOfBookings" message="tns:getListOfBookings" />
            <wsdl:output name="getListOfBookingsResponse" message="tns:getListOfBookingsResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CommonsBookingServiceServiceSoapBinding" type="tns:CommonsBookingService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="cancelBooking">
            <soap:operation soapAction="" />
            <wsdl:input name="cancelBooking">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="cancelBookingResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBooking">
            <soap:operation soapAction="" />
            <wsdl:input name="getBooking">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getBookingResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWholeSupportedMap">
            <soap:operation soapAction="" />
            <wsdl:input name="getWholeSupportedMap">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getWholeSupportedMapResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListOfBookings">
            <soap:operation soapAction="" />
            <wsdl:input name="getListOfBookings">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getListOfBookingsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CommonsBookingService">
        <wsdl:port name="CommonsBookingServicePort" binding="tns:CommonsBookingServiceServiceSoapBinding">
            <soap:address location="http://live.viajesurbis.com/serveis/caval/20091127/soap/CommonsBookingService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
